*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-image: linear-gradient(rgba(18, 28, 68, 0.7),rgba(18, 28, 68, 0.7)) , url(../images/calculator\ background.jpg);
   
}

#calculator{
    height: 600px;
    width: 390px;
    color: white;
    margin: 20px auto;
    border: 2px solid white;
    background-color: seashell;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgb(201, 188, 164);
}
#result{
    height: 150px;
   
    border-bottom: darkgray;
    border: solid;
    border-width: 90%;
}
.operator, .number, .empty{
    height: 60px;
    width: 60px;
    color: black;
    font-size: 23px;
    border-radius: 50%;
   
    border-width: 0;
    margin: 15px;
    float: left;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}
.number, .empty{
    background-color: seashell;
    border-color: seashell;
}
.number:active, .operator:active{
    font-size: 15px;
}
button:nth-child(1){
    font-size: 20px;
    background-color: rgb(255, 0, 0);
    color: white;
}

button:nth-child(4){
    font-size: 30px;
    background-color: rgb(46, 46, 121);
    color: white;
}
button:nth-child(8){
    font-size: 30px;
    background-color: rgb(255, 0, 98);
    color: white;
}
button:nth-child(12){
    font-size: 30px;
    background-color: rgb(98, 206, 84);
    color: white;
}
button:nth-child(16){
    font-size: 30px;
    background-color: darkorange;
    color: white;
}
button:nth-child(20){
    font-size: 30px;
    background-color: palevioletred;
    color: white;
}
#history{
    height: 60px;
    text-align: right;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: rgb(54, 54, 54);
  
}
#output{
    text-align: right;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 30px;
    color: black;
    font-weight: bold;
}